#head {
    text-align: center;
    background-color: #141f3d;
    color: white;
    padding: 2%;
}

.panel-custom {
    background-color: #141f3d !important;
    color: white !important;
}

table {
    margin: 0 auto;
}

th {
    margin: 1% 1% 0 1%;
    padding: 3% 3% 0 3%;
    width: 1%;
}

hr {
    margin: 1%;
}

td {
    margin: 1% 1% 0 1%;
    padding: 3% 3% 0 3%;
    width: 1%;
}