#head-container {
    margin-top: 1%;
}

#head {
    text-align: center;
    /*background-color: #141f3d;*/
    background-image: url("../images/red.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color: black;
    padding: 2%;
}

.panel-custom {
    background-color: #141f3d !important;
    color: white !important;
}

table {
    margin: 0 auto;
}

th {
    margin: 1% 1% 0 1%;
    padding: 3% 3% 0 3%;
    width: 1%;
}

hr {
    margin: 1%;
}

td {
    margin: 1% 1% 0 1%;
    padding: 3% 3% 0 3%;
    width: 1%;
}

h1 img {
    width: 5%;
    padding-bottom: 1%;
}


/*
tbody>tr span {
    visibility: hidden;
}

tbody>tr span:hover {
    visibility: visible;
}*/